/*
 * Font Name: Manrope
 * Source: https://github.com/davelab6/manrope
 * Author: Michael Sharanda (https://github.com/sharanda)
 * Contributors: https://github.com/davelab6/manrope/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

:root {
  --font-family-manrope: "Manrope", sans-serif;

  --ff-primary: var(--font-family-manrope);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-block-size: 100dvb;
  font-family: var(--ff-primary);
}
