/*
 * Font Name: Manrope
 * Source: https://github.com/davelab6/manrope
 * Author: Michael Sharanda (https://github.com/sharanda)
 * Contributors: https://github.com/davelab6/manrope/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

:root {
  --color-gray-blue-800: oklch(44.675% 0.03841 259.945);
  --color-gray-blue-600: oklch(59.075% 0.04261 255.722);
  --color-gray-blue-400: oklch(74.704% 0.03346 251.261);
  --color-gray-blue-200: oklch(95.834% 0.01041 248.177);
  --color-white: oklch(100% 0.00011 271.152);
  --color-blue: oklch(58.914% 0.20295 257.877);
  --color-light-blue: oklch(68.181% 0.15851 243.377);
  --color-red: oklch(58.241% 0.23644 25.524);

  --font-family-manrope: "Manrope", sans-serif;

  --font-size-12: calc(12 / 16 * 1rem);
  --font-size-13: calc(13 / 16 * 1rem);
  --font-size-16: calc(16 / 16 * 1rem);

  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --line-height-150pc: 1.5;

  --letter-spacing-1pc: calc(1 * 0.01em);
  --letter-spacing-1p2pc: calc(1.2 * 0.01em);
  --letter-spacing-5pc: calc(5 * 0.01em);
  --letter-spacing-38pc: calc(38 * 0.01em);

  --spacing-12: calc(12 / 16 * 1rem);
  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-20: calc(20 / 16 * 1rem);
  --spacing-22: calc(22 / 16 * 1rem);
  --spacing-24: calc(24 / 16 * 1rem);
  --spacing-32: calc(32 / 16 * 1rem);
  --spacing-36: calc(36 / 16 * 1rem);
  --spacing-64: calc(64 / 16 * 1rem);

  --radius-full: 50%;
  --radius-10: calc(10 / 16 * 1rem);

  --c-title: var(--color-gray-blue-800);
  --c-main: var(--color-gray-blue-600);
  --c-author: var(--color-gray-blue-800);
  --c-date: var(--color-gray-blue-400);
  --c-text-share: var(--color-gray-blue-400);
  --c-article-bg: var(--color-white);
  --c-body-bg: var(--color-gray-blue-200);
  --c-button-bg-default: var(--color-gray-blue-200);
  --c-button-bg-active: var(--color-gray-blue-600);
  --c-share-icon-default: var(--color-gray-blue-600);
  --c-share-icon-active: var(--color-white);
  --c-share-menu-bg: var(--color-gray-blue-800);
  --c-fb-icon: var(--color-blue);
  --c-twitter-icon: var(--color-light-blue);
  --c-pinterest-icon: var(--color-red);

  --ff-primary: var(--font-family-manrope);

  --fs-title: var(--font-size-16);
  --fs-main: var(--font-size-13);
  --fs-author: var(--font-size-12);
  --fs-date: var(--font-size-12);
  --fs-text-share: var(--font-size-13);

  --fw-title: var(--font-weight-bold);
  --fw-main: var(--font-weight-medium);
  --fw-author: var(--font-weight-bold);
  --fw-date: var(--font-weight-medium);
  --fw-text-share: var(--font-weight-medium);

  --lh-body: var(--line-height-150pc);

  --ls-title: var(--letter-spacing-1p2pc);
  --ls-main: var(--letter-spacing-1pc);
  --ls-author: var(--letter-spacing-5pc);
  --ls-date: var(--letter-spacing-5pc);
  --ls-text-share: var(--letter-spacing-38pc);

  --mi-article: var(--spacing-24);
  --mis-share-menu-active: var(--spacing-32);
  --mie-button-active: var(--spacing-32);
  --mbe-main: var(--spacing-32);
  --mbe-main-active: var(--spacing-64);

  --pdi-content: var(--spacing-32);
  --pdbe-content: var(--spacing-20);

  --gap-row-article: var(--spacing-36);
  --gap-row-main: var(--spacing-12);
  --gap-col-author: var(--spacing-16);
  --gap-col-social-menu: var(--spacing-22);
  --gap-col-social-icon: var(--spacing-16);

  --br-button-share: var(--radius-full);
  --br-author-avatar: var(--radius-full);
  --br-article: var(--radius-10);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-block-size: 100dvb;
  font-family: var(--ff-primary);
  line-height: var(--lh-body);
  background-color: var(--c-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  background-color: var(--c-article-bg);
  margin-inline: var(--mi-article);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-row-article);
  border-radius: var(--br-article);
  overflow: hidden;
  position: relative;
}

.article > div:first-child {
  block-size: clamp(12.5rem, 44.44vw + 2.083rem, 18.75rem);
}

.article-image {
  block-size: 100%;
  object-fit: cover;
  object-position: 0 25%;
}

.article-content {
  padding-inline: var(--pdi-content);
  padding-block-end: var(--pdbe-content);
}

.article-main {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-row-main);
  margin-block-end: var(--mbe-main);
}

.article-main-active {
  margin-block-end: var(--mbe-main-active);
}

.article-main > h1 {
  font-size: var(--fs-title);
  font-weight: var(--fw-title);
  letter-spacing: var(--ls-title);
  color: var(--c-title);
}

.article-main > p {
  font-size: var(--fs-main);
  font-weight: var(--fw-main);
  letter-spacing: var(--ls-main);
  color: var(--c-main);
}

.article-footer {
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--gap-col-author);
  margin-inline-end: auto;
}

.author-active {
  display: none;
}

.author-avatar {
  inline-size: 40px;
  block-size: 40px;
  border-radius: var(--br-author-avatar);
}

.author-info > p:first-child {
  font-size: var(--fs-author);
  font-weight: var(--fw-author);
  letter-spacing: var(--ls-author);
  color: var(--c-author);
}

.author-info > p:last-child {
  font-size: var(--fs-date);
  font-weight: var(--fw-date);
  letter-spacing: var(--ls-date);
  color: var(--c-date);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.article-share-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  background-color: var(--c-share-menu-bg);
  position: absolute;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  block-size: 64px;
}

.social-menu-default {
  display: none;
}

.social-menu-active {
  display: flex;
  align-items: center;
  column-gap: var(--gap-col-social-menu);
  margin-inline-start: var(--mis-share-menu-active);
}

#social-menu p:first-child {
  font-size: var(--fs-text-share);
  font-weight: var(--fw-text-share);
  letter-spacing: var(--ls-text-share);
  color: var(--c-text-share);
  text-transform: uppercase;
}

.social {
  list-style: none;
  display: flex;
  column-gap: var(--gap-col-social-icon);
  align-items: flex-start;
  padding-inline-start: 0;
}

.social > li:nth-child(2) {
  align-self: center;
}

.social > li:nth-child(1) a:is(:hover, :focus) path {
  fill: var(--c-fb-icon);
}

.social > li:nth-child(2) a:is(:hover, :focus) path {
  fill: var(--c-twitter-icon);
}

.social > li:nth-child(3) a:is(:hover, :focus) path {
  fill: var(--c-pinterest-icon);
}

button {
  cursor: pointer;
  inline-size: 32px;
  block-size: 32px;
  background-color: var(--c-button-bg-default);
  border: none;
  border-radius: var(--br-button-share);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-active {
  background-color: var(--c-button-bg-active);
  margin-inline-end: var(--mie-button-active);
}

.button-active svg path {
  fill: var(--c-share-icon-active);
}

button svg path {
  fill: var(--c-share-icon-default);
}

@media (max-width: 20.875em) {
  :root {
    --gap-col-social-icon: var(--spacing-12);
    --gap-col-social-menu: var(--spacing-16);
  }
}

@media (min-width: 37.625em) and (max-width: 54.4em) {
  :root {
    --font-size-18: calc(18 / 16 * 1rem);
    --line-height-145pc: 1.45;

    --spacing-18: calc(18 / 16 * 1rem);
    --spacing-40: calc(40 / 16 * 1rem);

    --fs-title: var(--font-size-18);
    --lh-title: var(--line-height-145pc);

    --pdi-article-content: 0 var(--spacing-40);
    --pdb-article-content: var(--spacing-32);
    --pdi-share-menu-active: var(--spacing-20);
    --pdb-share-menu-active: var(--spacing-18);

    --mis-share-menu: var(--spacing-32);

    --gap-col-article: var(--spacing-40);
    --gap-col-social-icon: var(--spacing-12);
    --gap-col-social-menu: var(--spacing-16);

    --br-share-menu: var(--radius-10);
    --br-article-image: var(--radius-10) 0 0 var(--radius-10);
  }

  .article {
    flex-direction: row;
    column-gap: var(--gap-col-article);
    max-inline-size: 731px;
    overflow: revert;
  }

  .article-image {
    border-radius: var(--br-article-image);
    object-position: 50% 0;
  }

  .article-content {
    padding-inline: var(--pdi-article-content);
    padding-block: var(--pdb-article-content);
    display: flex;
    flex-direction: column;
  }

  .article-main {
    margin-block-end: auto;
  }

  .author-active {
    display: flex;
  }

  .article-share-active {
    all: revert;
  }

  .social-menu-active {
    display: flex;
    align-items: center;
    column-gap: var(--gap-col-social-menu);
    margin-inline-start: var(--mis-share-menu);
    background-color: var(--c-share-menu-bg);
    position: absolute;
    inset-block-end: 96px;
    inset-inline-end: -22px;
    padding-inline: var(--pdi-share-menu-active);
    padding-block: var(--pdb-share-menu-active);
    border-radius: var(--br-share-menu);
  }

  .social-menu-active::before {
    content: "";
    inline-size: 20px;
    block-size: 20px;
    background-color: var(--c-share-menu-bg);
    position: absolute;
    transform: rotate(45deg);
    inset-block-start: 45px;
    inset-inline-start: 118px;
  }

  .button-active {
    margin-inline-end: 0;
  }
}

@media (min-width: 54.5em) {
  :root {
    --font-size-20: calc(20 / 16 * 1rem);

    --line-height-140pc: 1.4;

    --spacing-18: calc(18 / 16 * 1rem);
    --spacing-40: calc(40 / 16 * 1rem);

    --fs-title: var(--font-size-20);
    --lh-title: var(--line-height-140pc);

    --pdi-article-content: 0 var(--spacing-40);
    --pdb-article-content: var(--spacing-32);
    --pdi-share-menu-active: var(--spacing-36);
    --pdb-share-menu-active: var(--spacing-18);

    --mbe-main: var(--spacing-20);
    --mis-share-menu: var(--spacing-32);

    --gap-col-article: var(--spacing-40);

    --br-article-image: var(--radius-10) 0 0 var(--radius-10);
    --br-share-menu: var(--radius-10);
  }

  .article {
    flex-direction: row;
    column-gap: var(--gap-col-article);
    max-inline-size: 731px;
    overflow: revert;
  }

  .article > div:first-child {
    block-size: 280px;
    min-inline-size: 286px;
  }

  .article-image {
    border-radius: var(--br-article-image);
    object-position: 0;
  }

  .article-content {
    padding-inline: var(--pdi-article-content);
    padding-block: var(--pdb-article-content);
  }

  .article-main {
    margin-block-end: var(--mbe-main);
  }

  .article-main-active {
    margin-block-end: var(--mbe-main);
  }

  .article-main > h1 {
    font-size: var(--fs-title);
    line-height: var(--lh-title);
  }

  .author-active {
    display: flex;
  }

  .article-share-active {
    all: revert;
  }

  .social-menu-active {
    display: flex;
    align-items: center;
    column-gap: var(--gap-col-social-menu);
    margin-inline-start: var(--mis-share-menu);
    background-color: var(--c-share-menu-bg);
    position: absolute;
    inset-block-end: 96px;
    inset-inline-end: -68px;
    padding-inline: var(--pdi-share-menu-active);
    padding-block: var(--pdb-share-menu-active);
    border-radius: var(--br-share-menu);
  }

  .social-menu-active::before {
    content: "";
    inline-size: 20px;
    block-size: 20px;
    background-color: var(--c-share-menu-bg);
    position: absolute;
    transform: rotate(45deg);
    inset-block-start: 45px;
    inset-inline-start: 118px;
  }

  .button-active {
    margin-inline-end: 0;
  }
}
